<header>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <h3 class="title-navbar" >Page d'administration</h3>
                </li>
                <li class="nav-item active">
                    <button 
                        class="btn btn-outline-danger"
                        type="button"
                        (click)="Logout()">
                        Logout
                    </button>
                </li>
                <li class="nav-item">
                    <button 
                        class="btn btn-outline-secondary" 
                        type="button"
                        (click)="AdminAccueil()">
                        Accueil Admin
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- <button 
    type="submit"
    (click)="Logout()">
    Logout
</button>
<br>
<br>
<button 
    type="button"
    (click)="AdminAccueil()">
    Accueil Admin
</button> -->
<br>
<br>
<br>
<br>
<body>
    <form>
        <div class="form-group">
        <input 
            type="text" 
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            placeholder="Nom de la quête"
            [(ngModel)]="inputNameQuest">
        </div>
        <div class="form-group">
        <input 
            type="text" 
            class="form-control" 
            id="exampleInputPassword1" 
            placeholder="Description"
            [(ngModel)]="inputDescriptionQuest">
        </div>
        <div class="form-group">
            <input 
            type="number" 
            class="form-control" 
            id="exampleInputPassword1" 
            placeholder="Récompence"
            [(ngModel)]="inputCreditQuest">
        </div>
        <button type="button" class="btn btn-primary" (click)="CreateQuest()">
            Créer la quête</button>
    </form>
</body>


<!-- <div>
    <form action="">
        <input 
            type="text"
            name="name"
            placeholder="Nom de la quête"
            [(ngModel)]="inputNameQuest">
        <input 
            type="text"
            name="description"
            placeholder="Description"
            [(ngModel)]="inputDescriptionQuest">
        <input 
            type="number"
            name="credit"
            placeholder="Récompence"
            [(ngModel)]="inputCreditQuest">
        <button
            type="submit"
            (click)="CreateQuest()">
            Créer la quête
        </button>
    </form>
</div> -->