<p>eleve-accueil works!</p>
<button 
    type="submit"
    (click)="Logout()">
    Logout
</button>
<br>
<button 
    type="button"
    (click)="Shop()">
    Magasin
</button>
<br>
<br>
<p>Bonjour {{User.username}}</p>
<p>Pieces : {{User.credits}}</p>

<br>
<br>
<div>
    <h3>Listes des quêtes :</h3>
    <div *ngFor="let quest of quests">
        <h4>Nom : {{quest.name}}</h4>
        <p>Description : {{quest.description}}</p>
        <p>Status : {{quest.status}}</p>
        <p>Récompence : {{quest.credit}} pieces</p>
        <button
            type="button" 
            [disabled]="quest.status === 'En cours'"
            (click)="AcceptQuest(quest._id)">
            Accepter 
        </button>
        <br>
    </div> 
</div>
 