<p>admin-accueil works!</p>

<!-- <button 
    type="submit"
    (click)="Logout()">
    Logout
</button>
<br>
<br>
<button
    type="button" 
    (click)="AddQuest()">
    Ajouter 
</button>

<br>
<br>
<div *ngFor="let quest of quests">
    <h3>{{quest.name}}</h3>
    <p>{{quest.description}}</p>
    <p>{{quest.status}}</p>
    <p>{{quest.credit}}</p>
    <button
        type="button" 
        (click)="ModifQuest(quest.id)">
        Modifier 
    </button>
    <button
        type="button" 
        (click)="DeleteQuest(quest.id)">
        Supprimer 
    </button>
    <br>
</div> -->