<header>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <h3 class="title-navbar" >Page d'administration</h3>
                </li>
                <li class="nav-item active">
                    <button 
                        class="btn btn-outline-danger"
                        type="button"
                        (click)="Logout()">
                        Logout
                    </button>
                </li>
                <li class="nav-item">
                    <button 
                        class="btn btn-outline-primary" 
                        type="button"
                        (click)="Shop()">
                        Magasin
                    </button>
                </li>
                <li class="nav-item">
                    <button 
                        class="btn btn-outline-success" 
                        type="button"
                        (click)="AddQuest()">
                        Crée une quête
                    </button>
                </li>
                <li class="nav-item">
                    <button 
                        class="btn btn-outline-info" 
                        type="button"
                        (click)="UserQuest()">
                        Quête des eleves
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- <button 
    type="submit"
    (click)="Logout()">
    Logout
</button>
<br>
<button
    type="submit"
    (click)="Shop()">
    Magasin
</button> -->
<!-- <br>
<br>
<button
    type="button" 
    (click)="AddQuest()">
    Crée une quête
</button>
<br>
<br>
<button
    type="button" 
    (click)="UserQuest()">
    Quête des eleves
</button> -->

<br>
<br>
<br>
<br>
<body>
    <h3>Listes des quêtes :</h3>
    <div class="pokemon-grid">
        <div class="box" *ngFor="let quest of quests">
            <h4>Nom : {{quest.name}}</h4>
            <p>Description : {{quest.description}}</p>
            <p>Status : {{quest.status}}</p>
            <p>Récompence : {{quest.credit}} 
                <img class="logo-piece" src="../../assets/PieceMK8.png" alt="logo de piece mario">
            </p>
            <button
                type="button" 
                class="btn btn-warning"
                (click)="ModifQuest(quest._id)">
                Modifier 
            </button>
            <button
                type="button" 
                class="btn btn-danger"
                (click)="DeleteQuest(quest._id)">
                Supprimer  
            </button>
        </div>
    </div>
</body>

<!-- <br>
<br>
<div *ngFor="let quest of quests">
    <h3>{{quest.name}}</h3>
    <p>{{quest.description}}</p>
    <p>{{quest.status}}</p>
    <p>{{quest.credit}}</p>
    <button
        type="button" 
        (click)="ModifQuest(quest._id)">
        Modifier 
    </button>
    <button
        type="button" 
        (click)="DeleteQuest(quest._id)">
        Supprimer 
    </button>
    <br>
</div>  -->