<header>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <h3 class="title-navbar" >Page d'administration</h3>
                </li>
                <li class="nav-item active">
                    <button 
                        class="btn btn-outline-danger"
                        type="button"
                        (click)="Logout()">
                        Logout
                    </button>
                </li>
                <li class="nav-item">
                    <button 
                        class="btn btn-outline-secondary" 
                        type="button"
                        (click)="AccueilAdmin()">
                        Accueil Admin
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
<body>
    <h3>Créer un produit : </h3>
    <!-- <form>
        <input 
            type="text"
            name="name"
            placeholder="Nom du produit"
            [(ngModel)]="inputNameProduct">
        <input 
            type="text"
            name="description"
            placeholder="Description"
            [(ngModel)]="inputDescriptionProduct">
        <input 
            type="number"
            name="price"
            placeholder="Prix"
            [(ngModel)]="inputPriceProduct">
        <button
            type="submit"
            (click)="CreateProduct()">
            Créer le produit
        </button>
    </form> -->

    <form>
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Nom du produit"
            [(ngModel)]="inputNameProduct">
        </div>
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Description"
            [(ngModel)]="inputDescriptionProduct">
        </div>
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              placeholder="Prix"
              [(ngModel)]="inputPriceProduct">
        </div>
        <button type="button" class="btn btn-primary" (click)="CreateProduct()">
            Créer le produit</button>
    </form>


<br>
<br>
<!-- <div>
    <h3>Listes des produits : </h3>
    <div *ngFor="let product of products">
    <h5>Nom : {{product.name}}</h5>
    <p>Description : {{product.description}}</p>
    <p>Prix : {{product.price}} pieces</p>
    <button
        type="button" 
        (click)="ModifProduct(product._id)">
        Modifier 
    </button>
    <button
        type="button" 
        (click)="DeleteProduct(product._id)">
        Supprimer 
    </button>
    <br>
</div> 
</div> -->

    <div class="pokemon-grid">
        <div class="box" *ngFor="let product of products">

            <h5>Nom : {{product.name}}</h5>
            <p>Description : {{product.description}}</p>
            <p>Prix : {{product.price}} 
                <img class="logo-piece" src="../../assets/PieceMK8.png" alt="logo de piece mario">
            </p>
            <button
                type="button" 
                class="btn btn-warning"
                (click)="ModifProduct(product._id)">
                Modifier  
            </button>
            <button
                type="button" 
                class="btn btn-danger"
                (click)="DeleteProduct(product._id)">
                Supprimer  
            </button>
        </div>
    </div>

</body>
    